version: "3"
services:
  web:
    build:
      context: "../../"
      dockerfile: app.Dockerfile
      args:
        - Ambiente=Development
    ports:
     - "5000:5000"
     - "5001:5001"
    depends_on:
      - db
  db:
    build:
      context: "./DataBase/"
      dockerfile: db.Dockerfile
    ports:
     - "1400:1433"